colors:
    gradient_left: "#2C7744"
    gradient_right: "#5A3F37"
    header: "#fff"
    
    link: "#1e6bb8" # this default to gradient_color
    section_title: "#155799" # this default to gradient_color

